.code-block {
    margin: 0 0 1rem 0;
    font-size: 1rem;
    background: rgba(var(--accent-light), 12%);
    border: 1px solid rgba(var(--accent-light), 25%);
    border-radius: 7px;
}

.hr-code {
    border: 1px solid rgba(var(--accent-light), 25%);
    margin: 0;
}

.header-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}


.language {
    padding: 0 0 0 0.5rem;
    font-family: var(--font-mono);
    color: rgb(var(--accent-blue-light));
}

.copy-button {
    background-color: rgba(var(--accent-light), 25%);
    color: rgb(var(--accent-light));
    border: none;
    border-radius: 4px;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copy-button:hover {
    background-color: rgba(var(--accent-light), 35%);
}

.copy-success {
    font-size: 0.8rem;
    color: rgb(var(--accent-light));
}

