---
import Code from "@/components/Code/Code.jsx";
import Layout from "@/layouts/Layout.astro";

const wslInstall = `wsl --install`;
const language = "bash";
---

<Layout title="Windows terminal" description="Setup windows terminal">
   <h2>Windows Terminal</h2> 
   <section>
      <article>
         <p class="information">
            <strong>Windows Terminal</strong> is a new, modern, feature-rich, productive terminal application for command-line users. 
         </p>
      </article>
      <article>
         <h3>Install Windows Terminal</h3>
         <p class="instructions">Install windows terminal from the
            <a href="https://www.microsoft.com/en-us/p/windows-terminal/9n0dx20hk701?activetab=pivot:overviewtab" target="_blank" rel="noopener noreferrer">Microsoft Store</a>.
         </p>
      </article>
      <article>
         <h3>WSL2</h3>
         <p class="information">
            As developers we need to be able to run Linux commands on our machines. <strong>Windows Subsystem for Linux 2 (WSL2)</strong> is a great way to do this.
         </p>
      </article>
      <article>
         <h3>Install WSL2</h3>
         <p class="information">
            In the <strong>PowerShell</strong> terminal, you can use install the <strong>Windows Subsystem for Linux 2 (WSL2)</strong> with the following command:
         </p>
         <Code code={wslInstall} language={language} client:load/>
         <p class="instructions">
            More information can be found on the
             <a href="https://docs.microsoft.com/en-us/windows/wsl/install-win10">Microsoft Docs</a>.
         </p>
      </article>
   </section>
</Layout>

<style>
	.instructions {
		margin: 1rem 0;
      padding: 1.5rem 1.5rem 1.5rem 0;
		border-radius: 8px;
	}
   
	.instructions code {
		font-size: 0.8em;
		color: rgb(var(--accent-light));
		padding: 0.3em 0.4em;
	}

	.instructions strong {
		color: rgb(var(--accent-light));
	}

   .instructions a {
      color: rgb(var(--accent-light));
      font-weight: bold;
      text-decoration: none;

   }
   .information {
		margin: 1rem 0;
      padding: 1.5rem 1.5rem 1.5rem 0;
      border-radius: 8px;
   }
   .information strong {
      color: rgb(var(--accent-blue-light));
   }
   .information a {
      color: rgb(var(--accent-blue-light));
      font-weight: bold;
      text-decoration: none;
   }

   .information a:hover {
      text-decoration: underline;
   }

   .information code {
      font-size: 0.8em;
      color: rgb(var(--accent-blue-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
   }
   
   .code {
      font-size: 1rem;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
      border: 1px solid rgba(var(--accent-light), 25%);
      padding: 0.3rem 0.4rem;
      border-radius: 8px;
   }
</style>