---
import Code from "@/components/Code.astro";
import Table from "@/components/Table.astro";
import Layout from "@/layouts/Layout.astro";

const wslInstall = `wsl --install`;
const powershell = "powershell";

type Content = {
  name: string;
  friendlyName: string;
};

const distributionsList: Content[] = [
  { name: "Ubuntu", friendlyName: "Ubuntu" },
  { name: "Debian", friendlyName: "Debian GNU/Linux" },
  { name: "kali-linux", friendlyName: "Kali Linux Rolling" },
  { name: "Ubuntu-18.04", friendlyName: "Ubuntu 18.04 LTS" },
  { name: "Ubuntu-20.04", friendlyName: "Ubuntu 20.04 LTS" },
  { name: "Ubuntu-22.04", friendlyName: "Ubuntu 22.04 LTS" },
  { name: "OracleLinux_7_9", friendlyName: "Oracle Linux 7.9" },
  { name: "OracleLinux_8_7", friendlyName: "Oracle Linux 8.7" },
  { name: "OracleLinux_9_1", friendlyName: "Oracle Linux 9.1" },
  { name: "openSUSE-Leap-15.5", friendlyName: "openSUSE Leap15.5" },
  {
    name: "SUSE-Linux-Enterprise-Server-15-SP4",
    friendlyName: "SUSE Linux Enterprise Server 15 SP4",
  },
  {
    name: "SUSE-Linux-Enterprise-15-SP5",
    friendlyName: "SUSE Linux Enterprise 15 SP5",
  },
  { name: "openSUSE-Tumbleweed", friendlyName: "openSUSE Tumbleweed" },
];
---

<Layout title="Windows Terminal" description="Setup Windows Terminal">
  <article>
    <header>
      <h1>Windows Terminal</h1>
    </header>
    <section>
      <p>
        <strong>Windows Terminal</strong> is a new, modern, feature-rich,
        productive terminal application for command-line users.
      </p>
      <h2>Install Windows Terminal</h2>
      <p>
        Install windows terminal from the
        <a
          href="https://www.microsoft.com/en-us/p/windows-terminal/9n0dx20hk701?activetab=pivot:overviewtab"
          target="_blank"
          rel="noopener noreferrer">Microsoft Store</a
        >.
      </p>
      <h2>WSL2</h2>
      <p>
        As developers we need to be able to run Linux commands on our machines. <strong
          >Windows Subsystem for Linux 2 (WSL2)</strong
        > is a great way to do this.
      </p>
      <h3>Install WSL2</h3>
      <p>
        In <strong>PowerShell</strong>, you can use install <strong>WSL2</strong
        > with the following command:
      </p>
      <Code code={wslInstall} language={powershell} />
      <p>
        More information can be found on the
        <a
          href="https://docs.microsoft.com/en-us/windows/wsl/install-win10"
          target="_blank"
          rel="noopener noreferrer">Microsoft Docs</a
        >.
      </p>
      <h2>Install anothers Linux distributions</h2>
      <p>
        By default <code>wsl --install</code> install <strong
          >Ubuntu-22.04.</strong
        >
      </p>
      <p>
        Install anothers distros using <code
          >wsl.exe --install &lt;Distro&gt;</code
        >.
      </p>
      <Table
        caption="Distributions"
        heads={["Distro", "Friendly name"]}
        content={distributionsList}
      />
    </section>
  </article>
</Layout>
