---
import Layout from '@/layouts/Layout.astro';
---
<Layout title="Coding" description="This page is a personal blog to teach about programming tools and setup">
    <article>
        <header>
            <h1>Coding</h1>
        </header>
        <section>
            <p>This page is a personal blog to teach about programming tools and setup.</p>
        </section>
    </article>
</Layout>

<style>
</style>
