---

---
<a href="/">
    <h1>Coding <span class="text-gradient">Connoisseur</span></h1>
</a>
<style>
	.text-gradient {
		background-image: var(--accent-blue-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
    a {
        color: white;
        text-decoration: none;
    }
</style>