---

---

<a class="link" href="/">
  <div class="container">
  <img class="logo" src="/logo.jpg" alt="Logo" />
  </div>
  <span>Coding</span>
</a>

<style>
  .link {
    gap: 0.25em;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: start;
    align-items: center;
    color: white;
    text-decoration: none;
  }

  .link .container {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    overflow: hidden;
  }

  .link > span {
    color: white;
  }

  .logo {
    width: 100%;
    margin: 0;
    max-width: 2.5em;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1;
  }
</style>
