---

---

<a class="link" href="/">
    <img class="logo" src="/logo.svg" alt="Logo" />
   Coding
  <span>Connoisseur</span>
</a>

<style>
  .link {
    gap: 0.25em;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: start;
    align-items: center;
    color: white;
    text-decoration: none;
  }

  .link > span {
    background-image: var(--accent-grey-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    max-width: 2.5em;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 4 / 3;
  }
</style>
